.nav {
  border: 1px solid black;
}
.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0;
}

.nav li {
  list-style: none;
  margin-left: 0;
}
li a {
  text-decoration: none;
}
.nav .caret {
  display: none;
}
.nav .nav-left {
  display: none;
}
@media (min-width: 600px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav ul {
    justify-content: flex-end;
  }
  .nav li {
    margin-left: 5%;
    margin-right: 1%;
  }
  .nav .caret {
    display: inline;
    margin-left: 10px;
    width: 15px;
  }
  .nav .nav-left {
    display: block;
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .nav .nav-left div {
    display: flex;
    align-items: center;
  }
}
